<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @blog.title %></p>
<p>内容: <%= @blog.content %></p>
<% unless @blog.user == current_user %>
  <% if @favorite.present? %>
    <div>
    <%= link_to 'お気に入り解除する', favorite_path(blog_id: @blog.id), method: :delete,class: 'btn btn-danger' %>
    </div>
  <% else %>
    <div>
    <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
<%= link_to '一覧に戻る', blogs_path %>