<div class="container">

  <h1><%= @user.name %>のページ</h1>
  
  <p>メールアドレス: <%= @user.email %></p>
  <p>アイコン画像: <%= image_tag @user.image %></p>

  <div class="row">
  <p class="favorites_blogs">お気に入りのブログ</p>
    <% @favorites_blogs.each do |favorite| %>
    <div class="col-xs-12 col-md-6 blog-panel">
      <h2><%= favorite.blog.title %></h2>
      <p><%= favorite.blog.content %></p>
      <p><%= favorite.blog.created_at %></p>
      <div class="blog-links">
          <%= link_to '詳細', favorite.blog, class: 'btn btn-default' %> 
          <% if favorite.blog.user_id == current_user.id %>
          | <%= link_to '編集', edit_blog_path(favorite.blog), class: 'btn btn-info' %> |
          <%= link_to '削除', favorite.blog, method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %>
          <% end %>
      </div>
    </div>
    <% end %>
    
  </div>
</div>